<div class="flex bg-gray-900 text-gray-100">
  <div class="flex flex-col w-28 md:w-full md:order-2">
    <div class="md:hidden">
      <div class="flex relative"><div>
        <div class="cursor-pointer p-5">
          <div class="">
            <div class="w-6 h-1 bg-gray-500"></div>
            <div class="w-6 h-1 bg-gray-500 my-1"></div>
            <div class="w-6 h-1 bg-gray-500"></div>
          </div>
          <div class="hidden">
            <div>
            <div class="w-6 h-1 bg-gray-500 transform rotate-45 relative top-2"></div>
            <div class="w-6 h-1 bg-gray-500 transform -rotate-45 relative top-1"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="relative top-5">
      <div class="w-5">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
        </svg>
      </div>
    </div>
  </div>
</div>
<div class="hidden md:block md:py-5">
  <div class="grid gap-2 md:flex font-thin text-sm"><div>
    <a exact="true" class="px-3 py-2" href="/">Home</a>
  </div>
  <div>
    <a exact="true" class="px-3 py-2" href="/about">About</a>
  </div>
  <div>
    <a exact="true" class="px-3 py-2" href="/table-booking">Table Booking</a>
  </div>
  <div>
    <a exact="true" class="px-3 py-2" href="/menu">Menu</a>
  </div>
  <div>
    <a exact="true" class="px-3 py-2" href="/gallery">Gallery</a>
  </div>
  <div>
    <a exact="true" class="px-3 py-2" href="/location">Location</a>
  </div>
</div>
</div>
</div>
<div class="w-28 md:order-3">
  <div class="w-full flex justify-end py-5">
    <div class="w-5 mr-4 hidden md:block">
      <div class="w-5">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z">
          </path>
        </svg>
      </div>
    </div>
    <div class="w-5 mr-4">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"></path>
      </svg>
    </div>
    <div class="w-5 mr-2">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"></path>
      </svg>
    </div>
  </div>
</div>
</div>