{% include '@tailwindcss/theme-one/mainmenu.html.twig' %}


<div class="min-h-screen flex flex-col w-full justify-center items-center">
  <div class="flex w-full mt-10 flex-col justify-center items-center">
      <h1 class="text-5xl">Table Booking</h1>
      <div class="container m-auto my-10 flex justify-center">
        <form class="w-full lg:w-1/2" id="booking-form">
          <div>
            <input class="border w-full outline-none border-gray-900 placeholder-gray-900 px-2 py-2 rounded-none" placeholder="name" type="text" />
          </div>
          <div class="flex">
            <input class="border-l  outline-none  border-r border-b w-2/4 border-gray-900 placeholder-gray-900 px-2 py-2 rounded-none" placeholder="email" type="email" />
            <input class="border-r border-b w-2/4 border-gray-900  outline-none  placeholder-gray-900 px-2 py-2 rounded-none" placeholder="Phone Number" type="text" />
          </div>
          <div class="flex">
            <input class="border-l border-r  outline-none  w-2/4 border-gray-900 placeholder-gray-900 px-2 py-2 rounded-none" placeholder="date" type="date" />
            <input class="border-r w-2/4  outline-none  border-gray-900 placeholder-gray-900 px-2 py-2 rounded-none" placeholder="Number of person" type="number" />
          </div>
          <div>
            <textarea class="border  outline-none  w-full h-40 border-gray-900 placeholder-gray-900 px-2 py-2 rounded-none" placeholder="Message"></textarea>
          </div>
          <div>
            <input class="border border-gray-900 cursor-pointer hover:bg-gray-600 hover:text-gray-200 px-6 py-2 rounded-none" type="submit" value="Submit" />
          </div>
        </form>
      </div>



      <div class="md:2/3 lg:w-1/2  m-auto">
        <div class="w-full text-center my-10">
          <h2 class="uppercase text-3xl">Opening Time</h2>
        </div>
        <ul class="grid grid-cols-2 md:grid-cols-3 gap-2 text-sm">
          <li class="flex flex-col justify-center items-center p-10 border">
            <span>Monday:</span>
            <span>5pm - 10pm</span>
          </li>
          <li class="flex flex-col justify-center items-center p-10 border">
            <span>Tuesday:</span>
            <span>5pm - 10pm</span>
          </li>
          <li class="flex flex-col justify-center items-center p-10 border">
            <span>Wednesday:</span>
            <span>5pm - 10pm</span>
          </li>
          <li class="flex flex-col justify-center items-center p-10 border">
            <span>Thurday:</span>
            <span>5pm - 10pm</span>
          </li>
          <li class="flex flex-col justify-center items-center p-10 border">
            <span>Friday:</span>
            <span>5pm - 10pm</span>
          </li>
          <li class="flex flex-col justify-center items-center p-10 border">
            <span>Saturday:</span>
            <span>3pm - 10pm</span>
          </li>
          <li class="flex flex-col justify-center items-center p-10 border col-span-3">
            <span>Sunday:</span>
            <span>3pm - 10pm</span>
          </li>
        </ul>
      </div>



  </div>
</div>



{{ attach_library('tailwindcss/tablebooking-script') }}