{% include '@tailwindcss/theme-one/mainmenu.html.twig' %}

<div class="relative">
  <div class="relativ">
    <div class="h-screen">
      <img src="" alt="" title="bg" />
    </div>
    <div class="w-full h-screen flex justify-center items-center absolute top-0 text-center">
      {# MAIN TITLE CONTENT #}
      <div class="text-8xl text-gray-200 leading-normal" id="main-title"></div>
    </div>
  </div>
  <div>
    <div class="w-full min-h-48 flex justify-center items-center flex-col py-20 md:px-20">
      {# SECOND BLOCK CONTENT#}
        <div class="md:w-1/2 w-2/3" id="block-two"></div>
        <img class="w-full h-96 object-cover" src="" alt="" />
    </div>
  </div>
  
  {# THIRD BLOCK COL 1 COL 2 AND COL 3 #}
  <div class="container m-auto my-20 flex flex-wrap justify-center">
    <div class="lg:w-80 px-4">
      <img src="" alt="" />
      <div class="py-8">
        <div id="block-3-col-1"></div>
      </div>  
    </div>
    <div class="lg:w-80 px-4">
      <img src="" alt="" />
      <div class="py-8">
        <div id="block-3-col-2"></div>
      </div>  
    </div>
    <div class="lg:w-80 px-4">
      <img src="" alt="" />
      <div class="py-8">
        <div id="block-3-col-3"></div>
      </div>  
    </div>
  </div>



  {# FOOTER #}

  {% if page.footer %}
    <footer role="contentinfo">
      {{ page.footer }}
    </footer>
  {% endif %}

</div>{# /.layout-container #}
