{% include '@tailwindcss/theme-one/mainmenu.html.twig' %}

<div class="relative">


  {# -- BLOCK ONE - LANDING PAGE ------------------------------#}
  <div class="relativ">
    {# main page background image #}
    <div class="h-screen" id="bg-home-main"></div>
    <div class="w-full h-screen flex justify-center items-center absolute top-0 text-center">
      {# MAIN TITLE CONTENT #}
      <div class="text-8xl text-gray-200 leading-normal" id="main-title"></div>
    </div>
  </div>



  {# -- BLOCK TWO ------------------------------#}
  <div>
    <div class="w-full min-h-48 flex justify-center items-center flex-col py-20 md:px-20">
      {# BLOCK TWO CONTENT#}
        <div class="md:w-1/2 w-2/3" id="block-two"></div>
    </div>
    <div id="block-two-image" class="w-full h-96 object-cover"></div>
  </div>



  {# -- BLOCK THREE ------------------------------#}  
  {# BLOCK THREE COL 1 COL 2 AND COL 3 #}
  <div class="container m-auto my-20 flex flex-wrap justify-center">
    <div class="lg:w-80 px-4">
      <div id="block-3-col-1-image"></div>
      <div class="py-8">
        <div id="block-3-col-1"></div>
      </div>  
    </div>
    <div class="lg:w-80 px-4">
      <div id="block-3-col-2-image"></div>
      <div class="py-8">
        <div id="block-3-col-2"></div>
      </div>  
    </div>
    <div class="lg:w-80 px-4">
      <div id="block-3-col-3-image"></div>
      <div class="py-8">
        <div id="block-3-col-3"></div>
      </div>  
    </div>
  </div>



  {# -- BLOCK FOUR ------------------------------#}
  {# BLOCK FOUR #}
  <div class="container m-auto my-20" id="block-four-image"></div>



  {# -- FOOTER ------------------------------#}
  {# FOOTER #}
  {% if page.footer %}
    <footer class="container bg-gray-100 border" role="contentinfo">
      {{ page.footer }}
    </footer>
  {% endif %}

</div>{# /.layout-container #}
