{% include '@tailwindcss/theme-one/mainmenu.html.twig' %}



<div class="container m-auto">
  <div id="about-page" class="min-h-screen flex flex-col justify-center items-center py-20"></div>
</div>





{{ attach_library('tailwindcss/aboutpage-script')}}