<div class="container mx-auto p-4">

  <header role="banner">
    {{ page.header }}
  </header>



  <div id="main-nav"></div>
  

  <main role="main">
    <h1 class="text-2xl">Theme One</h1> 
  </main>

  {% if page.footer %}
    <footer role="contentinfo">
      {{ page.footer }}
    </footer>
  {% endif %}

</div>{# /.layout-container #}

