{% include '@tailwindcss/theme-one/mainmenu.html.twig' %}


<div class="container m-auto">
<div id="about-page" class="min-h-screen flex flex-col justify-center items-center py-20"></div>
</div>


{{ attach_library('tailwindcss/aboutpage-script') }}


{# tailwindcss purge #}
<div class="px-20 w-full"><h1 class="text-5xl"></h1></div>
    <div class="flex flex-col md:flex-row">
      <div class="md:p-20 p-5 order-2 md:order-1"></div>
      <div class="order-1 md:order-2 my-10 md:my-0">
        <span class="object-cover h-32 w-10/12 m-auto lg:h-auto lg:w-full md:h-full"></span>
        {# <img class="object-cover h-32 w-10/12 m-auto lg:h-auto lg:w-full md:h-full"
            src="" alt="" /> #}
      </div>
    </div>